                            {% for task in tasks %}
                                <tr id="{{ task.id }}">
                                    <td style="white-space:normal;" id="{{ task.id }}Name" onclick="editTask('{{ task.id }}'); return false;">{{ task.name }}</td>
                                    {% for branch in branches %}
                                    <td class="align_center">
                                        <input type="checkbox" onchange="flagTask('{{ release.id }}', '{{ task.id }}', this.checked, '{{ branch.id }}')" name="{{ task.id }}" {% if branch.tid in task.done_in_branch_list %}checked{% endif %}></td>
                                    {% endfor %}
                                    <td class="align_center" style="white-space:nowrap;">
                                        <a href="#" onclick="saveTask('{{ task.id }}','{{ branch.id }}'); return false;" style="display:none;" id="save{{ task.id }}">Save</a> 
                                        <a href="#" onclick="cancelEdit('{{ task.id }}'); return false;" style="display:none;" id="cancel{{ task.id }}">Cancel</a> 
                                        <a href="#" onclick="editTask('{{ task.id }}'); return false;" style="display:inline;" id="edit{{ task.id }}">Edit</a> 
                                        <a href="#" onclick="deleteTask('{{ task.id }}'); return false;" style="display:inline;" id="delete{{ task.id }}">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
