
{% extends 'layout.html' %}

{% block breadcrumbs %}
<a href="/">Home</a> -> Manage Stories
{% endblock %}

{% block content %}

    <div id="content" class="colMS">

        <div id="content-main">
            <div class="module ObjectsList">
                <table>
                    <caption>
                        <span><a href="" class="section">Stories</a></span>
                        <span class="sectionActions">{% if rally_refresh %}<a onclick="alert('This can take a long time depending on how many Sprints / Stories you have.');" href="/stories?refresh=true">Refresh</a>{% endif %}</span>
                    </caption>
                        <tr>
                            <th scope="row">Rally ID</th>
                            <th>Sprint</th>
                            <th>Name</th>
                            <th colspan="2" align="center">Actions</th>
                        </tr>
                    {% for story in stories %}
                        <tr>
                            <td scope="row" nowrap>
                                <a href="/instory/{{ story.id }}">{{ story.rally_id }}</a>
                            </td>
                            <td>
                                {{ story.sprint }}
                            </td>
                            <td>
                                {{ story.name }}
                            </td>
                            <td>
                                <a href="https://rally1.rallydev.com/slm/rally.sp#/search?keywords={{ story.rally_id }}" target="_blank">Details</a>
                            </td>
                            <td align="center">
                                <a href="/stories?delete={{ story.id }}">Delete</a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td scope="row" colspan="5">
                                <strong>No Stories added to release yet.</strong>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <br class="clear" />
    </div>


{% endblock %}
